/* Thank You to Geoff Graham of CSS-Tricks.com for the typewriter effect!! */

/* Console CONTENTS styling */
.console{
  color: rgb(13, 165, 13);
  text-decoration:none;
  font-size: 1.8rem;

  box-shadow: inset 0px 0px 30px 5px rgba(255, 255, 255, 0.25);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "expose expose overworld"
  "expose expose overworld"
  "expose expose overworld"
  "expose expose overworld"
  "expose expose overworld"
  "expose expose overworld"
  "expose expose playerComms"
  "expose expose playerComms"
  "expose expose playerComms"
  "expose expose playerComms";
}

.overworld{
  grid-area: overworld;
  color: rgb(21, 180, 21);
  background-color: white;
  margin: 0;
  padding: 0;
}

.expose{
  grid-area: expose;
  color: rgb(10, 134, 10);
  background-color: yellow;
}

.playerComms{
  grid-area: playerComms;
  margin: 0;
  background-color: red;
}

