/* These buttons are the game controls */
i{
  font-size: 2.5rem;
  padding-top: .5rem;
}
/* i font-size: 3rem, */
.controlButton {
  display: inline-block;
  position: relative;
  width: 100%;
  text-align: center;

  padding: .5rem;
  font-size: 1rem;
  
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .2rem;

  outline: none;
  color: rgb(230, 230, 230);
  background-color: #777777;
  border: 1px solid rgb(88, 88, 88);
  border-radius: 5px;
  box-shadow: 0px 5px 0 rgba(0,0,0,0.5);
  transition: background-color .4s ease;
}
.controlButton::after{
  content: '';
  display: block;
}


.controlButton.defend{
  background-color: darkslateblue;
}
.controlButton.defend:hover {
  background-color: rgb(115, 102, 197);
}
.controlButton.defend:active {
  background-color: rgb(38, 31, 85);
  box-shadow: 0px 1px 0 rgba(0,0,0,0.5);
  transform: translateY(4px);
}

.controlButton.moveForward{
  background-color: darkgreen;
}
.controlButton.moveForward:hover {
  background-color: rgb(14, 143, 14);
}
.controlButton.moveForward:active {
  background-color: rgb(0, 61, 0);
  box-shadow: 0px 1px 0 rgba(0,0,0,0.5);
  transform: translateY(4px);
}

.controlButton.attack{
  background-color: crimson;
}
.controlButton.attack:hover {
  background-color: rgb(255, 0, 51);
}
.controlButton.attack:active {
  background-color: rgb(161, 3, 35);
  box-shadow: 0px 1px 0 rgba(0,0,0,0.5);
  transform: translateY(4px);
}

.controlButton.moveLeft{
  background-color: darkgreen;
}
.controlButton.moveLeft:hover {
  background-color: rgb(14, 143, 14);
}
.controlButton.moveLeft:active {
  background-color: rgb(0, 61, 0);
  box-shadow: 0px 1px 0 rgba(0,0,0,0.5);
  transform: translateY(4px);
}

.controlButton.moveRight{
  background-color: darkgreen;
}
.controlButton.moveRight:hover {
  background-color: rgb(14, 143, 14);
}
.controlButton.moveRight:active {
  background-color: rgb(0, 61, 0);
  box-shadow: 0px 1px 0 rgba(0,0,0,0.5);
  transform: translateY(4px);
}

.controlButton.moveBackward{
  background-color: darkgreen;
}
.controlButton.moveBackward:hover {
  background-color: rgb(14, 143, 14);
}
.controlButton.moveBackward:active {
  background-color: rgb(0, 61, 0);
  box-shadow: 0px 1px 0 rgba(0,0,0,0.5);
  transform: translateY(4px);
}

.controlButton.inspect{
  background-color: rgb(235, 0, 98);
}
.controlButton.inspect:hover {
  background-color: rgb(255, 83, 154);
}
.controlButton.inspect:active {
  background-color: rgb(100, 4, 44);
  box-shadow: 0px 1px 0 rgba(0,0,0,0.5);
  transform: translateY(4px);
}

.controlButton.help{
  background-color: rgb(9, 179, 142);
}
.controlButton.help:hover {
  background-color: rgb(24, 197, 160);
}
.controlButton.help:active {
  background-color: rgb(6, 117, 93);
  box-shadow: 0px 1px 0 rgba(0,0,0,0.5);
  transform: translateY(4px);
}

.controlButton.item{
  background-color: rgb(24, 3, 99);
}
.controlButton.item:hover {
  background-color: rgb(41, 2, 185);
}
.controlButton.item:active {
  background-color: rgb(16, 2, 70);
  box-shadow: 0px 1px 0 rgba(0,0,0,0.5);
  transform: translateY(4px);
}
.controlButton.next{
  background-color: rgb(18, 141, 163);
}
.controlButton.next:hover {
  background-color: rgb(23, 184, 212);
}
.controlButton.next:active {
  background-color: rgb(2, 98, 116);
  box-shadow: 0px 1px 0 rgba(0,0,0,0.5);
  transform: translateY(4px);
}




/*This is to overwrite the previous button-specific styling when DISABLED*/
.controlButton.disabled {
  background-color: rgba(128, 128, 128, 0.8);
  /* Trying to time the button fade with the choices popping up */
  transition: all .8s 0s;
  opacity: .8;
}
.controlButton.disabled i{
  /* Trying to time the button fade with the choices popping up */
  transition: all .8s 0s;
  opacity: .8;
}
.controlButton.disabled:hover{
  background-color: rgba(129, 129, 129, 0.8);
}
.controlButton.disabled:active {
  background-color: rgba(129, 129, 129, 0.8);
  box-shadow: 0px 5px 0 rgba(0,0,0,0.5);
  transform: translateY(0px);
}


/* ===== Media Queries ===== */
/* WIDTH */


/* HEIGHT */

@media only screen and (min-device-height: 450px) and (max-device-height: 525px) {
  .controlButton i{
    font-size: 1rem;
    padding-top: .3rem;
  }
  .controlButton{
    padding-left: .3rem;
    padding-right: .3rem;
    padding-top: .3rem;
    padding-bottom: .2rem;
    font-size: 1rem;
  }
}

@media only screen and (min-device-height: 525px) and (max-device-height: 600px) {
  .controlButton i{
    font-size: 1.5rem;
    padding-top: .5rem;
  }
  .controlButton{
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 1rem;
  }
}

/* On the View Style We radically change the button layout here, so buttons can get bigger!*/
@media screen and (min-height: 750px) and (max-height: 825px) {
  .controlButton i{
    font-size: 3rem;
    padding-top: .5rem;
  }
  .controlButton{
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
  }
}

@media screen and (min-height:826px) and (max-height: 900px) {
  .controlButton i{
    font-size: 1.5rem;
    padding-top: .5rem;
  }
}



/*Needs to be at the bottom because it overwrites height specific changes*/
@media screen and (min-width: 350px) and (max-width: 750px){
  .controlButton i{
    font-size: .75rem;
    padding-top: .3rem;
  }
  .controlButton{
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    font-size: .75rem;
  }
}
/* ========================= */

