/* The main styling of the app */

*,
*::before,
*::after{
  padding: 0;
  margin: 0;
}

html{
  height: 100%;
  font-size: 10px;
}

.global-grid {
  display: grid;
  background-color: lightblue;
  grid-gap: 10px;
  height: 100vh;

  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: .1fr .75fr .2fr .1fr .4fr;
  grid-template-areas:
  "navbar"
  "consoleContainer"
  "aboutContainer"
  "playerChoices"
  "controlContainer";
}

.navbar{
  grid-area: navbar;
  background-color: lightseagreen;

  padding: auto;
}

.consoleContainer{
  grid-area: consoleContainer;
  background-color: lightgreen;

  padding: auto;
  overflow-y: scroll;
}

.aboutContainer{
  grid-area: aboutContainer;
  background-color: lightcoral;

  padding: auto;
}

.playerChoices{
  grid-area: playerChoices;
  background-color: lightgoldenrodyellow;

  padding: auto;
}

.controlContainerSection{
  grid-area: controlContainer;
  background-color: grey;
}

@media screen and (min-width: 550px){
  .global-grid {
    display: grid;
    background-color: lightblue;
    grid-gap: 10px;
    height: 100vh;
    margin-top: 0;
    margin-bottom: 0;
  
    grid-template-columns: 1fr .5fr;
    grid-template-rows: .1fr 1fr 1fr .75fr;
    grid-template-areas:
    "navbar navbar"
    "consoleContainer aboutContainer"
    "consoleContainer playerChoices"
    "controlContainer controlContainer";
  }
}

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
  /* some CSS here */
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){
  /* some CSS here */
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px){
  /* some CSS here */
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .global-grid {
    display: grid;
    background-color: lightblue;
    grid-gap: 10px;
    height: 100vh;
    margin-top: 0;
    margin-bottom: 0;
  
    grid-template-columns: 1fr .5fr;
    grid-template-rows: .1fr 1fr 1fr .75fr;
    grid-template-areas:
    "navbar navbar"
    "consoleContainer aboutContainer"
    "consoleContainer playerChoices"
    "controlContainer controlContainer";
  }
}

/* #### Desktops #### */
@media screen and (min-width: 1024px){
  .global-grid {
    display: grid;
    background-color: lightblue;
    grid-gap: 10px;
    height: 100vh;
    margin-top: 0;
    margin-bottom: 0;
  
    grid-template-columns: 1fr .5fr;
    grid-template-rows: .1fr 1fr 1fr .75fr;
    grid-template-areas:
    "navbar navbar"
    "consoleContainer aboutContainer"
    "consoleContainer playerChoices"
    "controlContainer controlContainer";
  }
}