.statsContainer{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .75fr 1fr 1fr;
  grid-template-areas: 
  "profile"
  "statsArea1"
  " . ";

  height: 100%;
  background-color: whitesmoke;
  padding: .5rem;
  border-radius: 3px;
}

.profile{
  grid-area: profile;
  display: grid;
  grid-template-columns: .15fr 1fr .15fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  ". profilePicture .";
}
.profilePicture{
  grid-area: profilePicture;
  background-color: gainsboro;
  border-radius: 10px;
}

.statsArea1{
  grid-area: statsArea1;

  align-items: center;
  justify-content: center;

  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;

  grid-gap: .1rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "playerName playerName"
  "stat1 stat2"
  "stat3 stat4"
  "stat5 stat6"
  "stat7 stat8"
  "stat9 stat10"
  "stat11 stat12"
  "stat13 stat14"
  "stat15 stat16";
}
.playerName{
  grid-area: playerName;
  background-color: turquoise;
  border-radius: 10px;
  padding: 1rem;
}
.stat1{
  grid-area: stat1;
  background-color: rgb(141, 125, 125);
  border-radius: 5px;
  padding: .5rem;
  margin:0;
}
.stat2{
  grid-area: stat2;
  background-color: rgb(141, 125, 125);
  border-radius: 5px;
  padding: .5rem;
  margin:0;
}
.stat3{
  grid-area: stat3;
  background-color: rgb(141, 125, 125);
  border-radius: 5px;
  padding: .5rem;
  margin:0;
}
.stat4{
  grid-area: stat4;
  background-color: rgb(141, 125, 125);
  border-radius: 5px;
  padding: .5rem;
  margin:0;
}
.stat5{
  grid-area: stat5;
  background-color: rgb(141, 125, 125);
  border-radius: 5px;
  padding: .5rem;
  margin:0;
}
.stat6{
  grid-area: stat6;
  background-color: rgb(141, 125, 125);
  border-radius: 5px;
  padding: .5rem;
  margin:0;
}
.stat7{
  grid-area: stat7;
  background-color: rgb(141, 125, 125);
  border-radius: 5px;
  padding: .5rem;
  margin:0;
}
.stat8{
  grid-area: stat8;
  background-color: rgb(141, 125, 125);
  border-radius: 5px;
  padding: .5rem;
  margin:0;
}
.stat9{
  grid-area: stat9;
  background-color: rgb(141, 125, 125);
  border-radius: 5px;
  padding: .5rem;
  margin:0;
}
.stat10{
  grid-area: stat10;
  background-color: rgb(141, 125, 125);
  border-radius: 5px;
  padding: .5rem;
  margin:0;
}
.stat11{
  grid-area: stat11;
  background-color: rgb(141, 125, 125);
  border-radius: 5px;
  padding: .5rem;
  margin:0;
}
.stat12{
  grid-area: stat12;
  background-color: rgb(141, 125, 125);
  border-radius: 5px;
  padding: .5rem;
  margin:0;
}
.stat13{
  grid-area: stat13;
  background-color: rgb(141, 125, 125);
  border-radius: 5px;
  padding: .5rem;
  margin:0;
}
.stat14{
  grid-area: stat14;
  background-color: rgb(141, 125, 125);
  border-radius: 5px;
  padding: .5rem;
  margin:0;
}
.stat15{
  grid-area: stat15;
  background-color: rgb(141, 125, 125);
  border-radius: 5px;
  padding: .5rem;
  margin:0;
}
.stat16{
  grid-area: stat16;
  background-color: rgb(141, 125, 125);
  border-radius: 5px;
  padding: .5rem;
  margin:0;
}

.statName{
  display: inline-block;
  padding: 0;
  margin: 0;
  color: black;
  font-size: 1.8rem;
  font-weight: bold;
}
.statText{
  display: inline-block;
  padding-left: 1rem;
  margin: 0;
}

#statPlayerName{
  color: purple;
  font-size: 1.8rem;
}
#statPlayerHealth{
  color: crimson;
  font-size: 1.8rem;
}
#statPlayerAgility{
  color: cyan;
  font-size: 1.8rem;
}
#statPlayerAttack{
  color: red;
  font-size: 1.8rem;
}
#statPlayerDefense{
  color: blue;
  font-size: 1.8rem;
}


