*
*::before,
*::after{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* ===== GLOBAL STYLING ===== */
html{
  font-family: sans-serif;
  font-size: 10px;
}

a{
  text-decoration: none;
}
/* ========================= */

/* ===== Navbar & Logo ===== */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5vh;
  font-family: 'Rubik', sans-serif;
  background-color: #067bc2;
}
.logo{
  color: #cfdee7;
  letter-spacing: 5px;
  font-size: 22px;
}
/* ========================= */

/* ===== Sidebars & Hamburger ===== */
.burger{
  display: block;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
}
.burger.left{
  margin-left: 1rem;
}
.burger.left div{
  background-color: #1de9b6;
}
.burger.right{
  margin-right: 1rem;
}
.burger.right div{
  background-color: #6cd1d1;
}
.burger div{
  width: 2.8rem;
  height: .5rem;
  margin-top: .5rem;
  margin-bottom: .25rem;
  margin-left: .1rem;
  margin-right: .1rem;
  transition: all 0.3s ease;
}
.sidebar{
  position: fixed;
  width: 28rem;
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.6rem;
  z-index: 900;
  transition: transform .3s;
}
.sidebar.inventory{
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  z-index: 1000;
  background-color: #01634a;
}
.sidebar.stats{
  bottom: 0;
  right: 0;
  transform: translateX(100%);
  z-index: 1100;
  background-color: #006b6b;
}
.active.sidebar{
  transform: translateX(0);
}
/*These are for the burger menu animations*/
.toggle .line1{
  transform: rotate(-45deg) translate(-1rem,.8rem);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-.7rem,-.4rem);
}
.toggle .line4{
  transform: rotate(45deg) translate(.8rem,0.8rem);
}
.toggle .line5{
  opacity: 0;
}
.toggle .line6{
  transform: rotate(-45deg) translate(0.7rem,-.5rem);
}
/* ========================= */

/* ======= CSS Grid ======== */
.global-grid{
  display: grid;
  height: 91vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr .25fr .1fr;
  grid-template-areas:
  "console"
  "controls"
  "footer";
}
.console{
  grid-area: console;
  display: fixed;
  margin-left: 10%;
  margin-right: 10%;
  width: auto;
  justify-content: center;
  background-color: #074444;
  overflow: hidden;
}
.controls{
  grid-area: controls;
  display: fixed;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
  width: auto;
  background: #103824;
}
.control-grid{
  text-transform: uppercase;
  color: #cfdee7;
  background: gray;

  display: grid;
  margin-left: 30%;
  margin-right: 30%;
  width: auto;
  height: 25vh;
  grid-gap: .6rem;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  ". moveForward . . attack . inspect"
  "moveLeft . moveRight . defend . help"
  ". moveBackward . . item . next";
}
.defend{
  background-color: blue;
  grid-area: defend;
}
.moveForward{
  background-color: green;
  grid-area: moveForward;
}
.attack{
  background-color: red;
  grid-area: attack;
}
.moveLeft{
  background-color: green;
  grid-area: moveLeft;
}
.moveRight{
  background-color: green;
  grid-area: moveRight;
}
.moveBackward{
  background-color: green;
  grid-area:  moveBackward;
}
.inspect{
  background-color: pink;
  grid-area: inspect;
}
.help{
  background-color: darkslateblue;
  grid-area: help;
}
.item{
  background-color: seagreen;
  grid-area: item;
}
.next{
  background-color: purple;
  grid-area: next;
}
.footer{
  grid-area: footer;
  background: #547e74;
}
/* ========================= */




/* ===== Media Queries ===== */
@media screen and (max-width: 500px) {
  .control-grid{
    background: red;
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
    height: 35vh;
    grid-gap: .2rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "defend moveForward attack"
    "moveLeft . moveRight"
    ". moveBackward ."
    "inspect help next";
  }
}

@media screen and (max-width: 1024px) {
  .control-grid{
    background: red;
    display: grid;
    margin-left: 30%;
    margin-right: 30%;
    height: 30vh;
    grid-gap: .4rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "defend moveForward attack"
    "moveLeft . moveRight"
    ". moveBackward ."
    "inspect help next";
  }
}
/* ========================= */











/* ===== Title ===== */
/* ========================= */

/*My palette:: 

/*#067BC2 #84BCDA #ECC30B #F37748 #D56062*/
/*#D7DEDC #CFCFCd #9A879D #7A3B69 #563440*/
/*#696D7D #6F9283 #8D9F87 #CDC6A5 #F0DCCA*/
/*#0A369D #4472CA #5E7CE2 #92B4F4 #CFDEE7*/
/*#D62839 #BA324f #175676 #4BA3C3 #CCE6F4*/
/*#638475 #90E39A #DDF093 #F6D0B1 #CE4760*/
/*#4C5454 #FF715B #FFFFFF #1EA896 #523F38*/
/*#2DE1FC #2AFC98 #09E85E #16C172 #214F4B*/
/*#201E1F #FF4000 #FAAA8D #FEEFDD #50B2C0*/
/*#BF4E30 #C6CCB2 #093824 #E5EAFA #78FECF*/
/*#E3C0D3 #95818D #576066 #2C514C #122932*/